@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,4001,300&family=Open+Sans:ital,wght@0,3000,4000,6001,300&display=swap");
html {
  box-sizing: border-box; }

* {
  outline: none !important; }

*,
*::after,
*::before {
  box-sizing: inherit; }

img {
  max-width: 100%;
  height: auto; }

body {
  font-size: 20px;
  font-weight: 300;
  line-height: normal;
  color: #151618;
  font-family: "Open Sans", sans-serif;
  position: relative;
  height: 100%; }

button {
  padding: 0;
  border: none;
  background-color: transparent; }

ul {
  list-style: none;
  padding-left: 0; }

a {
  text-decoration: none !important;
  color: inherit;
  transition: 0.3s; }
  a:hover {
    color: rgba(0, 0, 0, 0.3); }
  a:focus {
    color: rgba(0, 0, 0, 0.8); }

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column; }

.main {
  flex-grow: 1; }

.title {
  text-align: center;
  margin-bottom: 60px;
  font-family: "Cormorant", serif;
  font-size: 40px;
  font-weight: 400 !important; }
  @media (max-width: 360px) {
    .title {
      margin-bottom: 30px;
      font-size: 24px; } }

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px; }
@media(max-width: 360px) {
  .container {
    padding-left: 10px;
    padding-right: 10px; } }
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  min-height: 140px; }
  @media (max-width: 1000px) {
    .header__inner {
      min-height: auto; } }
  @media (max-width: 480px) {
    .header__inner {
      padding: 10px 0; } }

.logo {
  margin-bottom: 35px; }
  @media (max-width: 1000px) {
    .logo {
      margin-bottom: 0; } }
  @media (max-width: 860px) {
    .logo {
      margin-left: 60px;
      margin-right: auto; } }
  @media (max-width: 480px) {
    .logo img {
      height: 56px; } }
  @media (max-width: 360px) {
    .logo {
      margin-left: auto;
      margin-right: auto; } }

@media (max-width: 860px) {
  .menu {
    margin-right: auto;
    order: -1; } }

.mobile-nav, .menu-close {
  display: none; }
  @media (max-width: 860px) {
    .mobile-nav, .menu-close {
      display: block; } }

.menu__btn {
  position: relative;
  display: none;
  width: 40px;
  height: 20px;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2; }
  .menu__btn span {
    background-color: #000;
    height: 2px;
    width: 100%; }
  @media (max-width: 860px) {
    .menu__btn {
      display: flex; } }

.menu--close {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1; }
  .menu--close.menu--open {
    display: block; }

.menu__close-btn {
  display: none;
  position: absolute;
  top: 20px;
  right: 20px; }
  @media (max-width: 860px) {
    .menu__close-btn {
      display: block; } }

.menu__list {
  position: relative;
  transition: transform 0.6s ease;
  transform: translateY(-100%);
  display: flex;
  align-items: center;
  gap: 0 65px;
  font-weight: 400;
  font-size: 18px;
  margin-left: 85px;
  margin-top: 50px;
  z-index: 3; }
  @media (max-width: 1000px) {
    .menu__list {
      margin-left: auto; } }
  @media (max-width: 860px) {
    .menu__list {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 360px;
      margin: 0 auto;
      background-color: #fff;
      display: block;
      text-align: center;
      padding-top: 60px; } }
  @media (max-width: 359px) {
    .menu__list {
      width: 310px; } }
  .menu__list.menu__list--open {
    transform: translateY(0%); }

.menu__item {
  transition: 0.3s; }
  @media (max-width: 860px) {
    .menu__item {
      margin-bottom: 30px;
      font-size: 24px;
      font-family: "Cormorant", serif; } }
  @media (max-width: 359px) {
    .menu__item {
      margin-bottom: 15px; } }
  .menu__item:hover {
    transform: scale(1.1); }

.mobile-menu {
  padding-top: 60px;
  margin: 60px 30px;
  border-top: 2px solid #f7f2ea; }
  @media (max-width: 480px) {
    .mobile-menu {
      padding-top: 30px; } }
  @media (max-width: 359px) {
    .mobile-menu {
      margin: 25px; } }

.mobile-menu__item {
  margin-bottom: 35px; }
  @media (max-width: 359px) {
    .mobile-menu__item {
      margin-bottom: 15px; } }

.mobile-actions {
  background-color: #f7f2ea;
  height: 60px;
  padding: 0 80px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.user-actions {
  display: flex;
  align-items: center;
  gap: 0 20px; }

.user-actions__item {
  transition: 0.3s; }
  .user-actions__item:hover {
    transform: scale(1.2); }

.user-actions__item-search {
  margin-left: 80px; }
  @media (max-width: 1000px) {
    .user-actions__item-search {
      margin-left: 30px; } }
  @media (max-width: 360px) {
    .user-actions__item-search {
      margin-left: 0; } }

.top {
  background-image: url(../img/top-bg.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover; }
  @media (max-width: 1000px) {
    .top {
      background-position: left bottom; } }

.top__inner {
  min-height: 500px;
  color: #fff;
  font-family: "Cormorant", serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; }
  @media (max-width: 360px) {
    .top__inner {
      min-height: 367px; } }

.top__title {
  font-size: 60px;
  margin-bottom: 20px;
  max-width: 790px;
  line-height: 1;
  font-weight: 400; }
  @media (max-width: 480px) {
    .top__title {
      font-size: 40px; } }
  @media (max-width: 360px) {
    .top__title {
      font-size: 24px; } }

.top__text {
  font-size: 24px;
  margin-bottom: 48px;
  max-width: 560px; }
  @media (max-width: 360px) {
    .top__text {
      font-size: 13px; } }

.blockquote__text {
  text-align: center;
  font-family: "Cormorant", serif;
  font-size: 40px;
  font-style: italic;
  font-weight: normal;
  max-width: 704px;
  margin: 150px auto; }
  @media (max-width: 1000px) {
    .blockquote__text {
      margin-top: 120px;
      margin-bottom: 135px; } }
  @media (max-width: 480px) {
    .blockquote__text {
      font-size: 16px;
      max-width: 376px;
      margin: 60px auto; } }

.assortment {
  margin-bottom: 150px; }
  @media (max-width: 1000px) {
    .assortment {
      margin-bottom: 120px; } }
  @media (max-width: 480px) {
    .assortment {
      margin-bottom: 60px; } }
  @media (max-width: 360px) {
    .assortment {
      margin-bottom: 80px; } }

.assortment__list {
  text-align: center;
  display: flex;
  gap: 0 40px;
  justify-content: center; }
  @media (max-width: 1000px) {
    .assortment__list {
      gap: 0; } }
  @media (max-width: 768px) {
    .assortment__list {
      flex-wrap: wrap; } }

.assortment__img {
  max-width: 208px;
  max-height: 208px;
  width: 100%; }
  @media (max-width: 360px) {
    .assortment__img {
      max-width: 160px; } }

.assortment__name {
  padding-top: 10px;
  font-family: "Cormorant", serif;
  font-size: 24px;
  font-weight: 400; }

.reviews {
  background-color: #f7f2ea;
  padding: 60px 0; }

.reviews__list {
  display: flex;
  gap: 0 26px;
  justify-content: center;
  flex-wrap: wrap; }
  @media (max-width: 768px) {
    .reviews__list {
      gap: 30px 76px; } }
  @media (max-width: 480px) {
    .reviews__list {
      gap: 30px 20px; } }

.reviews__item {
  flex-basis: 280px; }
  @media (max-width: 768px) {
    .reviews__item {
      flex-basis: 200px; } }
  @media (max-width: 360px) {
    .reviews__item {
      flex-basis: 100%; } }
  @media (max-width: 1240px) {
    .reviews__item:nth-child(4) {
      display: none; } }
  @media (max-width: 931px) {
    .reviews__item:nth-child(4) {
      display: block; } }
  @media (max-width: 360px) {
    .reviews__item:nth-child(3), .reviews__item:nth-child(4) {
      display: none; } }

.reviews__text {
  font-size: 16px;
  font-style: italic;
  margin-bottom: 10px;
  line-height: 1.5; }

.reviews__name {
  font-weight: 600;
  font-style: normal; }

.main-blog {
  padding: 150px 0; }
  @media (max-width: 1000px) {
    .main-blog {
      padding: 120px 0; } }
  @media (max-width: 480px) {
    .main-blog {
      padding: 60px 0; } }
  @media (max-width: 360px) {
    .main-blog {
      padding: 50px 0; } }

.main-blog__list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 58px; }
  @media (max-width: 1240px) {
    .main-blog__list {
      gap: 40px 39px; } }
  @media (max-width: 1000px) {
    .main-blog__list {
      gap: 67px 20px; } }
  @media (max-width: 768px) {
    .main-blog__list {
      gap: 30px 20px; } }
  @media (max-width: 360px) {
    .main-blog__list {
      justify-content: center; } }

.main-blog__item {
  flex-basis: 542px;
  display: flex;
  gap: 0 20px; }
  @media (max-width: 1000px) {
    .main-blog__item {
      flex-basis: 460px; } }
  @media (max-width: 768px) {
    .main-blog__item {
      flex-basis: 542px;
      margin-left: 60px; } }
  @media (max-width: 680px) {
    .main-blog__item {
      margin-left: 0; } }
  @media (max-width: 360px) {
    .main-blog__item {
      display: block;
      max-width: 270px; } }
  @media (max-width: 768px) {
    .main-blog__item:nth-child(even) {
      transform: translateX(98px); } }
  @media (max-width: 680px) {
    .main-blog__item:nth-child(even) {
      transform: translateX(0); } }
  @media (max-width: 360px) {
    .main-blog__item:nth-child(3), .main-blog__item:nth-child(4) {
      display: none; } }

.main-blog__item-content {
  display: flex;
  flex-direction: column; }

@media (max-width: 1000px) {
  .main-blog__item-img {
    max-width: 230px; } }
@media (max-width: 768px) {
  .main-blog__item-img {
    max-width: 270px; } }
@media (max-width: 480px) {
  .main-blog__item-img {
    max-width: 170px; } }
@media (max-width: 360px) {
  .main-blog__item-img {
    max-width: 100%; } }

.main-blog__item-title {
  font-size: 24px;
  font-family: "Cormorant", serif;
  font-weight: 400;
  margin-bottom: 10px;
  min-height: 86px; }
  @media (max-width: 480px) {
    .main-blog__item-title {
      min-height: 60px;
      font-size: 20px; } }
  @media (max-width: 360px) {
    .main-blog__item-title {
      min-height: auto; } }

.main-blog__item-author {
  font-size: 13px; }

.main-blog__item-link {
  font-size: 13px;
  margin-top: auto;
  position: relative;
  transition: 0.3s; }
  .main-blog__item-link:after {
    content: "";
    background-image: url(../img/arrow.svg);
    width: 5px;
    height: 10px;
    margin-left: 8px;
    position: absolute;
    bottom: 2px; }

.main-blog__link {
  padding: 12px 41px;
  display: flex;
  justify-content: center;
  margin: 72px auto 0;
  border: 1px solid #151618;
  width: 154px;
  transition: 0.3s; }
  @media (max-width: 1000px) {
    .main-blog__link {
      margin-top: 60px; } }
  .main-blog__link:hover {
    background-color: rgba(0, 0, 0, 0.05); }

.mailing-list {
  padding: 100px 0;
  background-color: #f7f2ea;
  background-image: url(../img/mailing-bg.png);
  background-repeat: no-repeat;
  background-position: bottom right; }
  @media (max-width: 1000px) {
    .mailing-list {
      padding: 60px 0; } }
  @media (max-width: 480px) {
    .mailing-list {
      padding: 50px 0; } }

.mailing-list__title {
  text-align: left;
  margin-bottom: 50px; }
  @media (max-width: 1000px) {
    .mailing-list__title {
      text-align: center; } }

.mailing-list__inner {
  display: flex;
  gap: 60px 40px; }
  @media (max-width: 1000px) {
    .mailing-list__inner {
      flex-wrap: wrap;
      justify-content: center; } }
  @media (max-width: 480px) {
    .mailing-list__inner {
      gap: 30px 0; } }

.mailing-list__text {
  line-height: 1.5;
  flex-basis: 580px; }
  @media (max-width: 1000px) {
    .mailing-list__text {
      text-align: center;
      flex-basis: 780px; } }
  @media (max-width: 768px) {
    .mailing-list__text {
      flex-basis: 640px; } }
  @media (max-width: 480px) {
    .mailing-list__text {
      flex-basis: 100%;
      font-size: 13px; } }

.mailing-list__form {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 580px; }

.mailing-list__email {
  border: none;
  border-bottom: 1px solid #b5b58b;
  background-color: transparent;
  padding: 3px 15px;
  width: 65%;
  margin-right: 25px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.5;
  color: #151618; }
  .mailing-list__email::placeholder {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.5;
    color: #b8b58b; }
  @media (max-width: 480px) {
    .mailing-list__email {
      margin-right: 10px; } }
  @media (max-width: 420px) {
    .mailing-list__email {
      width: 198px; } }

.mailing-list__btn {
  background-color: #fff;
  border: 1px solid #151618;
  padding: 12px 40px;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 300;
  cursor: pointer;
  transition: 0.3s;
  -webkit-appearance: none; }
  @media (max-width: 480px) {
    .mailing-list__btn {
      padding: 10px 39px; } }
  .mailing-list__btn:hover {
    background-color: rgba(0, 0, 0, 0.05);
    color: rgba(0, 0, 0, 0.6); }

.checkbox__text {
  font-size: 13px;
  padding-left: 20px;
  cursor: pointer; }

.mailing-list__label {
  margin-top: 16px; }

.checkbox {
  position: absolute;
  height: 1px;
  width: 1px;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  padding-left: 20px; }

.checkbox-style {
  position: absolute;
  width: 10px;
  height: 10px;
  border: 1px solid #151618;
  margin-top: 3px; }

.checkbox:checked + .checkbox-style:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: #151618;
  top: 2px;
  left: 2px; }

.prioritise {
  padding: 150px 0; }
  @media (max-width: 1000px) {
    .prioritise {
      padding: 120px 0; } }
  @media (max-width: 480px) {
    .prioritise {
      padding: 60px 0; } }
  @media (max-width: 360px) {
    .prioritise {
      padding: 50px 0; } }

.prioritise__list {
  text-align: center;
  display: flex;
  gap: 30px 49px;
  justify-content: center;
  flex-wrap: wrap; }
  @media (max-width: 1237px) {
    .prioritise__list {
      gap: 30px 210px; } }
  @media (max-width: 768px) {
    .prioritise__list {
      gap: 30px 133px; } }
  @media (max-width: 360px) {
    .prioritise__list {
      gap: 40px 100px; } }

.prioritise__title {
  font-size: 30px;
  margin-bottom: 10px;
  font-weight: 300; }
  @media (max-width: 360px) {
    .prioritise__title {
      font-size: 20px; } }

.prioritise__text {
  font-weight: 600;
  margin-bottom: 30px; }
  @media (max-width: 360px) {
    .prioritise__text {
      font-size: 10px;
      font-weight: 400;
      text-transform: uppercase; } }

.footer {
  padding: 100px 0 20px;
  background-color: #f7f2ea; }
  @media (max-width: 480px) {
    .footer {
      padding: 50px 0 10px; } }

.footer__inner {
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0 40px; }
  @media (max-width: 1000px) {
    .footer__inner {
      margin-bottom: 55px; } }
  @media (max-width: 768px) {
    .footer__inner {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr 1fr; } }
  @media (max-width: 480px) {
    .footer__inner {
      display: flex;
      flex-wrap: wrap; } }

@media (max-width: 768px) {
  .footer__products, .footer__company {
    grid-row: span 3; } }

@media (max-width: 480px) {
  .footer__products {
    margin-right: auto;
    padding-right: 20px; } }

@media (max-width: 480px) {
  .footer__company {
    padding-right: 20px;
    margin-right: 55px; } }
@media (max-width: 398px) {
  .footer__company {
    padding-right: 15px;
    margin-right: 0; } }

@media (max-width: 768px) {
  .footer__contacts {
    grid-column: 3/4;
    grid-row: 2/3;
    margin-top: -60px; } }
@media(max-width: 480px) {
  .footer__contacts {
    margin-top: 50px;
    width: 100%; } }
.footer__products-title, .footer__company-title, .footer__contacts-title {
  font-family: "Cormorant", serif;
  font-size: 24px;
  margin-bottom: 50px;
  font-weight: 400; }

@media (max-width: 480px) {
  .footer__products-title, .footer__company-title {
    margin-bottom: 30px; } }

.footer__products-item, .footer__company-item {
  margin-bottom: 20px;
  font-size: 16px; }

@media (max-width: 1000px) {
  .footer__blockquote {
    width: 270px; } }
@media (max-width: 480px) {
  .footer__blockquote {
    width: 100%; } }

.footer__blockquote-text {
  margin-top: 80px;
  font-style: italic;
  margin-bottom: 20px;
  font-size: 16px; }
  @media (max-width: 1000px) {
    .footer__blockquote-text {
      margin-top: 0; } }
  @media (max-width: 480px) {
    .footer__blockquote-text {
      margin-bottom: 10px;
      margin-top: 50px; } }

.footer__blockquote-author {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 300; }
  .footer__blockquote-author span {
    display: block; }

@media (max-width: 1000px) {
  .footer__contacts {
    width: 270px; } }
@media (max-width: 480px) {
  .footer__contacts {
    width: 100%; } }

@media (max-width: 480px) {
  .footer__contacts-title {
    margin-bottom: 20px;
    text-align: center; } }

.footer__contacts-text {
  font-size: 13px;
  margin-bottom: 20px; }
  @media (max-width: 480px) {
    .footer__contacts-text {
      text-align: center; } }

.footer__nav {
  display: flex;
  flex-wrap: wrap; }
  @media (max-width: 480px) {
    .footer__nav {
      flex-wrap: nowrap; } }
  @media (max-width: 360px) {
    .footer__nav {
      flex-wrap: wrap;
      justify-content: center; } }

.footer__nav-logo {
  margin-right: 40px; }
  @media (max-width: 1000px) {
    .footer__nav-logo {
      margin-right: 35px; } }
  @media (max-width: 480px) {
    .footer__nav-logo {
      margin-right: 10px; } }

.footer__nav-contacts {
  margin-top: 20px; }

.footer__nav-phone, .footer__nav-email {
  font-size: 13px;
  position: relative;
  padding-left: 32px;
  display: block;
  margin-bottom: 20px; }
  .footer__nav-phone:before, .footer__nav-email:before {
    content: "";
    position: absolute;
    left: 0;
    width: 22px;
    height: 16px;
    background-image: url(../img/mail.svg);
    top: 1px; }
  @media (max-width: 480px) {
    .footer__nav-phone, .footer__nav-email {
      padding-left: 25px; } }

.footer__nav-phone:before {
  background-image: url(../img/phone.svg);
  width: 21px;
  height: 21px; }

.footer__social {
  margin-top: 40px;
  margin-left: 110px; }
  @media (max-width: 480px) {
    .footer__social {
      margin-left: 30px; } }
  @media (max-width: 360px) {
    .footer__social {
      margin-left: auto;
      margin-right: auto; } }

.footer__social-list {
  display: flex;
  align-items: center;
  gap: 0 20px; }
  @media (max-width: 430px) {
    .footer__social-list {
      gap: 0 10px; } }

.footer__social-item {
  transition: 0.3s; }
  .footer__social-item:hover {
    transform: scale(1.2); }

.footer__copy, .partners-logo {
  font-size: 16px;
  position: absolute;
  bottom: 0; }

.partners-logo {
  display: flex;
  gap: 0 20px;
  margin-bottom: 16px; }
  @media (max-width: 480px) {
    .partners-logo {
      position: absolute;
      right: 40px; } }

/*# sourceMappingURL=style.css.map */
